@import url(local.css);
/*ENTRY ITEMS*/
@media all and (max-width: 680px) {
	#_page_body > form > center:not(:first-child) > table.tablestyle2, #_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody, #_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr, div#items_table {
		display: block;
		width: 100%;
		border: 0 !important;
	}
	div#items_table > center {
		padding-bottom: 1em;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr {
		margin-bottom: 1em;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr > td {
		display: inline-block;
		width: calc(100% - 4em);
		margin-left: 2em;
		border: 0;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr > td.label {
		margin: 0;
		line-height: 1em;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 > tbody > tr > td > *:not(.date_box) {
		width: 100%;
	}
	#_page_body > form > center:not(:first-child) > table.tablestyle2 .list_box {
		width: 100%;
	}
}